		* {
            box-sizing: border-box;
        }

        ul {
            list-style-type: none;
        }

        body {
			background-color: #dfe6e9;
            font-family: "Lato", sans-serif;
			padding-bottom: 45px;

        }

        * {
            margin: 0;
            box-sizing: border-box;
        }
		
		.yearHead {
			background-color: #cec010;
            width: 95%;
            height: 150px;
			text-align: center;
			padding-top: 10px;
            font-size: 300%;
			margin-left: 2.5%;
			margin-right: 2.5%;
			margin-top: 23px;
			display: inline-flex;
			justify-content: space-between;
            align-items: center;
			padding-left: 20%;
			padding-right: 20%;
			color: #fff;
		}
		
		.yearHead h1{
			margin-top: 5px;
		}

        .wrapper {
            
            width: 100vw;
            height: 100vh;
            display: inline-flex;
			flex-wrap: wrap;
			padding-left: 25px;
			
        }

        .calendar {
            margin: 20px 10px;
            width: 23%;
            background-color: #fff;
            box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
			
       
        }

        .month {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 40px 30px;
            text-align: center;
            background-color: #ebd900;
            color: #fff;
        }
		
		.month div{
			width: 50%;
			margin: 0 auto;
		}

        .weekdays {
            background-color: #c6b91b;
            color: #fff;
            padding: 7px 0;
            display: flex;
        }

        .days {
            font-weight: 300;
            padding: 10px 5px;
            display: flex;
            flex-wrap: wrap;
        }
		
		.passedEvent{
			background-color: #8f8f8f;
            color: #fff;
		}
		
		.upcomingEvent{
			background-color: #007eff;
            color: #fff;
		}

        .weekdays div,
        .days div {
            text-align: center;
            width: 14.28%;
        }

        .days div {
            padding: 10px 0;
            margin-bottom: 10px;
            transition: all 0.4s;
        }

        .prev_date {
            color: #999;
        }

        .today {
            background-color: #ff5200;
            color: #fff;
        }

        .days div:hover {
            cursor: pointer;
            background-color: #dfe6e9
        }

        .prev,
        .next {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            font-size: 30px;
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 0.4s;
        }

        .prev:hover,
        .next:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
        }

        #month {
            font-size: 30px;
            font-weight: 500;
        }
		
		
		#displayEvents{
			width: 90%;
			height: 90%;
			margin: 2.5% 5%;
			background-color: white;
			position: fixed;
			top:0px;
			right:0px;
			display: none;
		}